body {
  height: 100%;
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-weight: light;
  background-color: #1f1d2c;
  color: white;
  display: flex;
  flex-direction: column;
}

html {
  height: 100%;
  margin: 0;
}

::-webkit-scrollbar {
  display: none;
}

h1 {
  text-align: center;
}



a {
  cursor: pointer;
}

span {
  text-align: start;
}

input {
  border: unset;
}

img {
  width: 24px;
  height: 24px;
}

.bold {
  font-weight: bold;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1;
}

.main {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

.textarea-section {
  display: flex;
  flex-direction: column;
  padding-bottom: 32px;
}

textarea {
  width: 500px;
  height: 150px;
  background-color: #363647;
  color: white;
  border: 1px solid #1f1d2c;
  border-radius: 8px;
  padding: 8px;
  outline: none;
  resize: none;
  font-family: inherit;
  font-size: inherit;
}

.textarea-title {
  width: 500px;
  height: 20px !important;
}

.button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 72px;
  background-color: #706fc8;
  border: 1px solid #1f1d2c;
  padding: 8px;
  gap: 2px;
  border-radius: 8px;
  color: white;
  font-size: 12px;
  text-decoration: none;
  /* cursor: pointer; */
}

.button:hover {
  background-color: #8c8bd3;
}

.note {
  width: 500px;
  min-height: 150px;
  height: fit-content;
  border: 1px solid #1f1d2c;
  border-radius: 8px;
  padding: 8px;
  outline: none;
  word-wrap: break-word;
  background-color: #262636;
}

.note-button-group {
  display: flex;
  justify-content: space-between;
}

.dialog-bg {
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 999;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog {
  display: flex;
  justify-content: space-between;
  overflow: auto;
  height: 50vh;
  width: 50vw;
  background-color: #1f1d2c;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 24px;
}

.d-none {
  display: none;
}

#close-window-btn {
  position: sticky !important;
  margin-top: 0;
  top: 0;
}